body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

#introVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro-btn {
  visibility: hidden;
  position: fixed;
  text-align: center;
  top: 20%;
  left: 43%;
  transform: translate(-20%, -43%);
  background: #111;
  color: #eee;
  font-size: 1.5em;
  padding: 15px 35px;
  border: 5px solid #eee;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #888888;
}

.rules-bg {
  background-image: url("assets/images/rules-bg.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(95%);
  position: fixed;
  z-index: -999;
}

.rules-parent {
  font-size: 0.9em;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  border: 5px solid #eee;
  padding: 20px;
  border-radius: 25px;
}

.rules-hr {
  border: 3px solid #eee;
  width: 60%;
  border-radius: 5px;
}

.rules-check {
  margin-left: -1.2em;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  padding-right: 0.2em;
}

.rules-text {
  font-size: 1.2em;
}

.rules-text li {
  margin: 0.5em 0em;
}

.bg {
  background-image: url("assets/images/places/Blank.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px) contrast(85%);
  position: fixed;
  z-index: -999;
}

#leftDiv {
  font-size: 1em;
  position: fixed;
  color: #fff;
  padding: 1em;
  margin: 1em;
  padding: 0.7em 1em;
  border: 5px solid #eee;
  border-radius: 25px;
  font-family: "Orbitron", sans-serif;
  background: #111;
  box-shadow: 5px 10px 10px #888888;
  min-width: 400px;
  opacity: 0.85;
  letter-spacing: 2px;
}
#rightDiv {
  font-size: 1em;
  position: fixed;
  color: #fff;
  right: 0;
  margin: 1em;
  padding: 0.7em 1em;
  border: 5px solid #eee;
  border-radius: 25px;
  font-family: "Orbitron", sans-serif;
  background: #111;
  box-shadow: 5px 10px 10px #888888;
  min-width: 400px;
  opacity: 0.85;
  letter-spacing: 2px;
}

#notice {
  position: fixed;
  top: 0;
  left: 40%;
  color: #fff;
  margin: 1em;
  padding: 0.7em 1em;
  border: 5px solid #eee;
  border-radius: 25px;
  font-family: "Orbitron", sans-serif;
  background: #111;
  box-shadow: 5px 10px 10px #888888;
  min-width: 350px;
  text-align: center;
  display: none;
}

.per-wrapper {
  background-color: #27ae60;
}

.per-parent {
  padding: 0;
  border: 1px solid #eee;
}

.time-up-bg {
  background-image: url("assets/images/places/Blank.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(85%);
  position: fixed;
  z-index: -999;
}

.time-up-happy-ppl {
  background-image: url("assets/images/happyPassengers.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}

#placesVisited {
  font-weight: bold;
  font-style: bold;
}

.game-over-bg {
  background-image: url("assets/images/places/Blank.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(85%);
  position: fixed;
  z-index: -999;
}

.game-over-sad-ppl {
  background-image: url("assets/images/sadPassengers.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}

/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
